<a href="https://colab.research.google.com/github/PedroReste/data-visualization-with-economics-data/blob/main/Notebooks/data_visualization_with_economics_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
#Importing all libriries necessaries to do the visualizations
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import data_table
data_table.disable_dataframe_formatter()

In [104]:
#Importind the bases from Github. Link:https://github.com/PedroReste/data-visualization-with-economics-data
gdp = 'https://raw.githubusercontent.com/PedroReste/data-visualization-with-economics-data/main/Databases/gdp_growth_annual_percentage.csv'
gdp_per_capita = 'https://raw.githubusercontent.com/PedroReste/data-visualization-with-economics-data/main/Databases/gdp_per_capita_growth_annual_percentage.csv'
inflation = 'https://raw.githubusercontent.com/PedroReste/data-visualization-with-economics-data/main/Databases/inflation_consumer_prices_annual_percentage.csv'

gdp = pd.read_csv(gdp, sep=',')
gdp_per_capita = pd.read_csv(gdp_per_capita, sep=',')
inflation = pd.read_csv(inflation, sep=',')

In [105]:
#Droping columns relateds of indicator name and code, and a column without information
drop_columns = ['Indicator Name', 'Indicator Code', 'Unnamed: 66']

gdp = gdp.drop(columns= drop_columns)
gdp_per_capita = gdp_per_capita.drop(columns= drop_columns)
inflation = inflation.drop(columns= drop_columns)

In [106]:
inflation.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,6.362961,6.079328
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.437609,3.837868
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.277905,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266

In [107]:
inflation.dtypes

Country Name     object
Country Code     object
1960            float64
1961            float64
1962            float64
                 ...
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
Length: 64, dtype: object

In [111]:
vars(inflation['Country Name'])

{'_is_copy': None, '_mgr': SingleBlockManager
 Items: RangeIndex(start=0, stop=266, step=1)
 ObjectBlock: 266 dtype: object, '_item_cache': {}, '_attrs': {}, '_flags': <Flags(allows_duplicate_labels=True)>, '_name': 'Country Name', '_index': RangeIndex(start=0, stop=266, step=1), '_cacher': ('Country Name',
  <weakref at 0x7f972311e4a0; to 'DataFrame' at 0x7f972317ebb0>), 'str': <pandas.core.strings.accessor.StringMethods at 0x7f972312d2b0>}

In [108]:
#inflation['Country Name'] = inflation['Country Name'].convert_dtypes(str)
#inflation['Country Code'] = inflation['Country Code'].convert_dtypes(str)

In [109]:
#inflation.query("Country Name == 'Brazil'")